*{
    margin: 0;
    scroll-behavior: smooth;
}
a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin:0;
}
input[type="number"]{
    -moz-appearance: textfield;
}
.redColor{
    color: red;
}
.greenColor{
    color:green;
}
.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
/* Light Theme */
body.light {
  /* CSS styles for the light theme */
}

/* Dark Theme */
body.dark {
  /* CSS styles for the dark theme */
}
